@use '../../styles/theme';

.themeToggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;

  svg {
    color: goldenrod;
    width: 20px;
    height: 20px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
