@use '../styles//theme';

$margin: 2em;

.root {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  margin: $margin 0;
}

.birthdayEntry {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: $margin 0;

  > *:not(:last-child) {
    margin-right: 2em;
  }
}

.table {
  margin: $margin 0;
}
